# Docker Compose (VPS)
POSTGRES_USER=pdv
POSTGRES_PASSWORD=pdv@2026
POSTGRES_DB=pdv
STORAGE_ACCESS_KEY=pdv
STORAGE_SECRET_KEY=pdv@2026
NEXT_PUBLIC_API_URL=https://api.seudominio.com.br

# apps/api
SESSION_SECRET=gere-um-segredo-longo-e-aleatorio
CORS_ORIGIN=https://app.seudominio.com.br
STORAGE_BUCKET=pdv-media
STORAGE_REGION=us-east-1
