node_modules/
.next/
out/
dist/
.env
.env.local
.env*.local
*.log
.DS_Store
coverage/
.vercel/
.turbo/
cypress/videos/
cypress/screenshots/
apps/api/generated/
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/swe-worker-*.js
apps/web/public/swe-worker-*.js.map
next-env.d.ts
*.tsbuildinfo
